
.navbar-end .btn{
    background-color: rgba(29, 209, 0, 0.1);
    color: rgb(29, 209, 0);
    border: 1px solid rgba(29, 209, 0, 0.4);
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}
.banner-section .btn{
    border-radius: 12px;
    background: rgb(29, 209, 0);
}
.banner-section .green-title{
    color: rgb(29, 209, 0);
}
.banner-card{
    border-bottom: 3px solid rgb(29, 209, 0);
    border-radius: 24px;
}
.banner-section .card-items img{
    border: 1px dashed gray;
    margin-right: 1rem;
}