
.navbar-end .btn{
    background-color: rgba(29, 209, 0, 0.1);
    color: rgb(29, 209, 0);
    border: 1px solid rgba(29, 209, 0, 0.4);
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}
.banner-section .btn{
    border-radius: 12px;
    background: rgb(29, 209, 0);
}
.banner-section .green-title{
    color: rgb(29, 209, 0);
}
.banner-card{
    border-bottom: 3px solid rgb(29, 209, 0);
    border-radius: 24px;
    margin: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.banner-section .card-items img{
    border: 1px dashed gray;
    margin-right: 1rem;
}
.elipse{
    display: flex;
    align-content: space-between;
    flex-direction: column;
}
.elipse-1{
    width: 48px;
    height: 24px;
    background-color: white;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.elipse-2{
    width: 48px;
    height: 24px;
    background-color: white;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
.small-border{
    height: 100%;
    border-right: 2px dashed rgb(255, 255, 255);
}
.offers-card{
    border-radius: 24px;
    margin:24px 10px;
}
.offer-btn{
    display: flex;
    justify-content: center;
}

/*

 *** 
*
  *   BOOKING SECTION
    *
   *
***

*/

.booking-section{
    box-sizing: border-box;
    border-top: 2px solid rgb(29, 209, 0);
    border-radius: 88px 88px 0px 0px;
    background: rgb(247, 248, 248);
}
.input-bottom-border{
    border-bottom:1px dashed rgba(3, 7, 18, 0.2);
}
.elipsee{
    display: flex;
    /* align-content: space-between; */
    flex-direction: column;
}
.booking-section .elipse-3{
    width: 80px;
    height: 10.41%;
    background: rgb(247, 248, 248);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.booking-section .elipse-4{
    width: 80px;
    height: 10.41%;
    background: rgb(247, 248, 248);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
.solid-rock .small-border{
    border: 2px dashed rgb(29, 209, 0);
}

.availibility-border{
    border-top: 1px dashed rgba(3, 7, 18, 0.2);
    border-bottom:1px dashed rgba(3, 7, 18, 0.2);
}
.display-seat{
    border-right: 1px dashed rgba(3, 7, 18, 0.2);
}
.seat-design{
    display: grid;
    grid-template-columns: 22px repeat(4,1fr);
}
.grid-item{
    width:110px;
}

.select-seat-border{
    border-bottom: 1px dashed rgba(3, 7, 18, 0.2);
}
.price-border{
    border-top: 1px solid rgba(3, 7, 18, 0.2);
}
.price-border-bottom{
    border-bottom: 1px solid rgba(3, 7, 18, 0.2);
}
/* .seat-design> :nth-child(2n){
    margin-right: 32px;
} */
@media only screen and (max-width:992px) {
    .solid-rock .elipsee{
       display: none;
    }
}
@media only screen and (max-width:640px) {
   .grid-item{
    width: 65px;
   }
}
